@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import "./_flex-grid.scss";
@import "./hamburgers.css";

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: #FFB7C9;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 75em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 0em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 30em)  { @content; }
  }
}

$pad: 20px;
$purple: #27223B;

.hidden {
  display: none;
}

.container {
  margin: 0 auto 0;
  max-width: 100%;
  @include breakpoint(small) {
     max-width: 90%;
  }
  // @include breakpoint(medium) {
  //    max-width: 90%;
  // }
  @include breakpoint(large) {
    max-width: 1220px;
  }
}

body {
  margin: 0;
}
.hide {
  display: none;
}
* {
  @include box-sizing(border-box);
}

.entypo-up-open-big {
  background-color: #FFB7C9;
  padding: 4px 8px;
  &:before {
    color: #fff;
  }
}

.hero {
  z-index: 10;
  background-color: #fff;
  height: 340px;
  &.detail-hero {
    height: 80px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    @include breakpoint(medium) {
      height: 112px;
      background-color: #fff;
    }
  }
  .logo {
    height: 40px;
    position: fixed;
    top: 20;
    z-index: 1;
    left: 20;
  }
  .nav-outer {
    padding-top: 0px;
    transition: 0.4s all linear;
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding-top: 75px;
    color: #fff;
    &.is-active {
      background-color: rgba(39,34,59,0.9);
      @include breakpoint(medium) {
        background-color: transparent;
      }
    }
    @include breakpoint(medium) {
      background-color: transparent;
      padding-top: 20px;
    }
    div {
      padding: $pad*1.2;
      @include breakpoint(medium) {
        padding: $pad;
      }
      a {
        font-family: Quicksand;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        text-decoration: none;
        @include breakpoint(medium) {
          color: #27223B;
          font-size: 16px;
        }
      }
    }
    section {
      height: 0;
      overflow: hidden;
      // padding-top: 75px;
      transition: 0.4s all linear;
      &.opened {
        height: 265;
        @include breakpoint(medium) {
          height: 100%;
        }
      }
      @include breakpoint(medium) {
        height: inherit;
        padding-top: inherit;
      }
    }
    button {
      position: absolute;
      right: 20px;
      top: 10px;
      &.is-active {
        .hamburger-inner {
          &:before, &:after {
            background-color: #fff;
          }
        }
      }
      @include breakpoint(medium) {
        display: none;
      }
    }
  }
  @include breakpoint(medium) {
    height: 600px;
    .logo {
      height: 73px;
    }
  }
}

.top-of-page {
  margin-top: 80px;
  @include breakpoint(medium) {
    margin-top: 112px;
  }
}

.detail-footer {
  text-align: center;
  margin-bottom: 50px;
  div {
    a, span {
      font-family: Quicksand;
      font-weight: 400;
      cursor: pointer;
      color: $purple;
    }
  }

}

.laptop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 0px;
  transition: 5s all;
  &.scrolling {
    background-position-y: 100%;
  }
}

.thumb-wrapper {
  margin-bottom: 16px;
  text-align: center;
  height: 240px;
  opacity: 1;
  @include breakpoint(small) {
    height: 380px;
  }
  &:nth-child(even) {
    @include breakpoint(large) {
      // height: 240px;
    }
  }
  &:nth-child(odd) {
    @include breakpoint(large) {
      // height: 380px;
    }
  }
  &:nth-child(5) {
    @include breakpoint(large) {
      // margin-top: -140px;
    }
  }
  .thumb-inner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    div {
      transition: 0.3s all ease-out;
      background-color: transparent;
      margin-top: -25px;
      h4 {
        display: none;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:hover {
      div {
        background-color: rgba(39,34,59,0.5);
        height: 100%;
        h4 {
          display: block;
        }
      }
    }
    height: 100%;
  }
}

.category-nav {
  .liner {
    width: 100%;
    margin-top: -4px;
    border-top: 1px solid $purple;
  }
  div.categoryNavItem {
    text-align: center;
    a {
      font-family: Quicksand;
      font-weight: 400;
      font-size: 18;
      text-decoration: none;
      color: $purple;
    }
    .categoryIndicator {
      transition: 0.2s all;
      height: 7px;
      width: 14px;
      border-radius: 3px;
      margin-top: 3px;
      display: inline-block;
      visibility: hidden;
      margin-left: calc(50% - 7px);
    }
    &:hover {
      .categoryIndicator {
        visibility: visible!important;
        width: 40px;
        margin-left: calc(50% - 20px);
        &#digital {
          width: 80px;
          margin-left: calc(50% - 40px);
        }
        &#print {
          width: 70px;
          margin-left: calc(50% - 35px);
        }
        &#misc {
          width: 60px;
          margin-left: calc(50% - 30px);
        }
      }
    }
  }
}

.thumbs-enter {
  opacity: 0.01;
}

.thumbs-enter.thumbs-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.thumbs-leave {
  opacity: 1;
}

.thumbs-leave.thumbs-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.thumbs-appear {
  opacity: 0.01;
}

.thumbs-appear.thumbs-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.bottom-section {
  background-color: #F8F8F8;
  padding: 30px 50px;
  color: $purple;
}

main image {
  // background-img: ;
  width: 100%;
  max-width: 1170px;
  max-height: 574px;
}

ul {
  // list-style-type: none;
  -webkit-padding-start: 0;
  li {
    color: $purple;
    font-family: Quicksand;
    font-weight: 400;
    margin-bottom: 4px;
  }
}

sm-piece {
	max-width: 380px;
	max-height: 240px;
}

lg-piece {
	max-width: 380px;
	max-height: 380px;
}

/* pieces on-hover
  overlay: rgba(39,34,59,0.50);
*/

p {
  font-family: Quicksand;
  font-weight: 400;
  color: #27223B;
  font-size: 16px;
  line-height: 20px;
}

h2 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 30px;  /* ems? */
  color: #27223B;
  text-align: center;
}

h3 {
  font-family: Cursive;
  font-weight: 700;
  font-size: 24px; /* ems? */
  color: #27223B;
}

/* rollover text on individual pieces */
h4 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;  /* ems? */
  color: #FFFFFF;
  &.breadcrumbs {
    color: #27223B;
  }
}

h5 {
  font-family: Quicksand;
  margin: 8 20 8 0;
  font-weight: 700;
  font-size: 20px;  /* ems? */
  color: #27223B;
}

h6 {
  font-family: Quicksand;
  margin: 8 20 8 0;
  font-weight: 400;
  font-size: 20px;  /* ems? */
  color: #27223B;
  &.big {
    font-size: 24px;
  }
}

/* Main Nav */
nav {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  color: #27223B;
  font-style: uppercase;
 }

/* All Digital Print Branding */
sub-nav {
  font-size: 18px;
  color: #27223B;
  letter-spacing: 0;
  line-height: 20px;
}

input, textarea {
  border-radius: 4px;
  height: 50px;
  width: 80%;
  margin-bottom: 20px;
  padding: 8px;
}

textarea {
  height: 150px;
  border-width: 2px;
  border-style: inset;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $purple;
  font-family: Quicksand;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $purple;
  font-family: Quicksand;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $purple;
  font-family: Quicksand;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $purple;
  font-family: Quicksand;
  font-size: 14px;
}

copyright {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 14px;
  color: #27223B;
  line-height: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    @include breakpoint(large) {
       width: 80%;
    }
    width: 100%;
    border: 1px solid #7FFFD4;
    background-color: #E0FFFF;
    .container {
        padding: 20px 15px;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
