<html>
<head>
  <link rel="shortcut icon" href="client/images/raja28.jpg">
  <title>KaviRavi Wedding</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/bundle.js"></script>
  <% } %>
  </body>
</html>
